# .replit

# Specifies the language of the Repl.
language = "python3"

# Sets up environment variables.
env = {
  FLASK_APP = "app.py"
}

# The command to run your application.
run = "python3 app.py"

# Specifies the entrypoint file that is run when the Repl starts.
# entrypoint = "app.py"

# Defines the modules needed for the project.
modules = ["python-3.8.12", "flask"]
