body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background: #0078D4;
    padding: 10px;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}
