<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
</head>
<body>
    <div class="container">
        <div class="left-section">
            <div class="logo-circle">
                <span class="logo-text">Clear</span>
                <span class="logo-check">✔</span>
                <span class="logo-text">Pass</span>
            </div>
        </div>
        <div class="right-section">
            <div class="login-box">
                <h1 class="login-title">Registrarse</h1>
                <p class="login-subtitle">Crea tu cuenta</p>
                <form action="/register" method="POST" **id="register-form"**>
                    <div class="form-group">
                        <input type="email" class="input-field" placeholder="Email" name="email" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="input-field" placeholder="Contraseña" name="password" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="input-field" placeholder="Confirmar Contraseña" name="confirm_password" required>
                    </div>
                    <button type="submit" class="login-button">Registrarse</button>
                </form>
                <div class="separator">o</div>
                <button class="google-btn" id="googleSignIn">
                    <img src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg" alt="Google logo">
                    Regístrate con tu cuenta de Google
                </button>
                <p class="login-subtitle">¿Ya tienes una cuenta? <a href="{{ url_for('show_login_form') }}">Iniciar sesión</a></p>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>